<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regional Bank</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.0-dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/applicationForm.css') }}" />

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>
    <!-- NAVBAR -->
    <section>
      <nav class="navbar navbar-light bg-dark navbar-expand-md">
        <div class="container-fluid">
          <!-- Brand -->
          <div class="navbar-brand">
            <img src="../static/img/bankLogo.png" width="30" height="30" class="d-inline align-top mr-2 mb-1" alt="" />
            <h5 class="d-inline text-light">Regional Bank</h5>
          </div>

          <!-- Toggler -->
          <button
            class="navbar-toggler teal-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#myNavbar"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar Links -->
          <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item mr-4">
                <a class="nav-link teal-toggler-link" href="{{url_for('index')}}">Home</a>
              </li>
            </ul>

            <!-- ADD Hover on Links, add aria stuff, data target? Href?, Move Style to CSS, And show current-->
          </div>
        </div>
      </nav>
    </section>

    <!-- MAIN BODY - APPLICATION-->
    <section>
      <div class="main-body-content-apply text-center">
        <img class="logo-application" src="../static/img/bankLogo.png" alt="" />
        <h6 class="text-dark mt-2 pb-1">Single Applicant Form</h6>
      </div>
      <div class="form-container">
        <form id="msform" action="{{url_for('loan_approval')}}" method="POST">
          <!-- Progressbar -->
          <ul id="progressbar">
            <li class="active">Loan &amp; Vehicle Details</li>
            <li>Work &amp; Housing Info</li>
            <li>Derived Values</li>
          </ul>
          <!-- Fieldsets -->
          <fieldset>
            <h2 class="fs-title">Loan &amp; Vehicle Details</h2>
            <!--<h3 class="fs-subtitle">Tell us something more about you</h3>-->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="MemberIndicator">Member</label>
                <select id="MemberIndicator" class="form-control" name="MemberIndicator">
                  <option selected>Choose...</option>
                  <option>Y</option>
                  <option>N</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="AmountRequested">Amount Requested</label>
                <input type="text" class="form-control" id="AmountRequested" name="AmountRequested" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="isNewVehicle">New Vehicle</label>
                <select id="isNewVehicle" class="form-control" name="isNewVehicle">
                  <option selected>Choose...</option>
                  <option>Y</option>
                  <option>N</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="VehicleMileage">Vehicle Mileage</label>
                <input type="text" class="form-control" id="VehicleMileage" name="VehicleMileage" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="TotalVehicleValue">Vehicle Value</label>
                <input type="text" class="form-control" id="TotalVehicleValue" name="TotalVehicleValue" />
              </div>
              <div class="form-group col-md-6">
                <label for="RequestType">Request Type</label>
                <select id="RequestType" class="form-control" name="RequestType">
                  <option selected>Choose...</option>
                  <option>DEALER PURCHASE</option>
                  <option>INDIRECT</option>
                  <option>CAR SALE</option>
                  <option>PRIVATE PARTY</option>
                  <option>REFINANCE</option>
                  <option>TITLE LOAN</option>
                  <option>LEASE BUYOUT</option>
                  <option>A CAR SALE PREAPPROVAL</option>
                  <option>REFINANCE-PROMO</option>
                  <option>VEHICLE - CROSS SELL</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="DownPayment">Down Payment</label>
                <input type="text" class="form-control" id="DownPayment" name="DownPayment" />
              </div>
              <div class="form-group col-md-6">
                <label for="Loanterm">Loan Term (months)</label>
                <input type="text" class="form-control" id="Loanterm" name="Loanterm" />
              </div>
            </div>
            <!--<button type="button" name="previous" class="btn btn-previous mt-3 mb-4 previous">Previous</button>-->
            <button type="button" name="next" class="btn btn-next mt-3 mb-4 next">Next</button>
            <!--<input type="button" name="previous" class="previous action-button-previous" value="Previous" />-->
            <!--<input type="button" name="next" class="next action-button" value="Next" />-->
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Work &amp; Housing Info</h2>
            <!--<h3 class="fs-subtitle"></h3>-->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="PrimeMonthlyIncome">Monthly Income</label>
                <input type="text" class="form-control" id="PrimeMonthlyIncome" name="PrimeMonthlyIncome" />
              </div>
              <div class="form-group col-md-6">
                <label for="EmploymentStatus">Employment Status</label>
                <select id="EmploymentStatus" class="form-control" name="EmploymentStatus">
                  <option selected>Choose...</option>
                  <option>Employed</option>
                  <option>Retired</option>
                  <option>Unemployed</option>
                  <option>Others</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="EmployedMonths">Employed Months</label>
                <input type="text" class="form-control" id="EmployedMonths" name="EmployedMonths" />
              </div>
              <div class="form-group col-md-6">
                <label for="PrevEmployedMonths">Prev. Employed Months</label>
                <input type="text" class="form-control" id="PrevEmployedMonths" name="PrevEmployedMonths" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="OccupancyStatus">Occupancy Status</label>
                <select id="OccupancyStatus" class="form-control" name="OccupancyStatus">
                  <option selected>Choose...</option>
                  <option>RENT</option>
                  <option>OWN</option>
                  <option>BUYING</option>
                  <option>GOVQUARTERS</option>
                  <option>LIVEWITHPARENTS</option>
                  <option>OTHER</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="OccupancyDuration">Occupancy Duration (months)</label>
                <input type="text" class="form-control" id="OccupancyDuration" name="OccupancyDuration" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mx-auto">
                <label for="PrimeMonthlyRent">Monthly Rent</label>
                <input type="text" class="form-control" id="PrimeMonthlyRent" name="PrimeMonthlyRent" />
              </div>
            </div>
            <button type="button" name="previous" class="btn btn-previous mt-3 mb-4 previous">Previous</button>
            <button type="button" name="next" class="btn btn-next mt-3 mb-4 next">Next</button>
            <!--<input type="button" name="previous" class="previous action-button-previous" value="Previous" />-->
            <!--<input type="button" name="next" class="next action-button" value="Next" />-->
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Derived Values</h2>
            <!--<h3 class="fs-subtitle">Fill in your credentials</h3>-->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="ModifiedCreditScore">Credit Score</label>
                <input type="text" class="form-control" id="ModifiedCreditScore" name="ModifiedCreditScore" />
              </div>
              <div class="form-group col-md-6">
                <label for="ModifiedBankruptcyScore">Bankruptcy Score</label>
                <input type="text" class="form-control" id="ModifiedBankruptcyScore" name="ModifiedBankruptcyScore" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="PrimeMonthlyLiability">Monthly Liability</label>
                <input type="text" class="form-control" id="PrimeMonthlyLiability" name="PrimeMonthlyLiability" />
              </div>
              <div class="form-group col-md-6">
                <label for="TotalMonthlyDebtBeforeLoan">Monthly Debt Before Loan</label>
                <input
                  type="text"
                  class="form-control"
                  id="TotalMonthlyDebtBeforeLoan"
                  name="TotalMonthlyDebtBeforeLoan"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="EstimatedMonthlyPayment">Estimated Monthly Payment</label>
                <input type="text" class="form-control" id="EstimatedMonthlyPayment" name="EstimatedMonthlyPayment" />
              </div>
              <div class="form-group col-md-6">
                <label for="NumberOfOpenRevolvingAccounts">Number Of Open Revolving Accounts</label>
                <input
                  type="text"
                  class="form-control"
                  id="NumberOfOpenRevolvingAccounts"
                  name="NumberOfOpenRevolvingAccounts"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="LTV">LTV</label>
                <input type="text" class="form-control" id="LTV" name="LTV" />
              </div>
              <div class="form-group col-md-6">
                <label for="DTI">DTI</label>
                <input type="text" class="form-control" id="DTI" name="DTI" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mx-auto">
                <label for="Source">Source</label>
                <select id="Source" class="form-control" name="Source">
                  <option selected>Choose...</option>
                  <option>CONSUMER</option>
                  <option>GATEWAY</option>
                  <option>LENDER</option>
                </select>
              </div>
            </div>
            <button type="button" name="previous" class="btn btn-previous mt-3 mb-4 previous">Previous</button>
            <button type="submit" class="btn btn-next mt-3 mb-4">Submit</button>
          </fieldset>
        </form>
      </div>
    </section>

    <script src="{{ url_for('static', filename='bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='js/formAnimate.js') }}"></script>
  </body>
</html>
