<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regional Bank</title>

    <link rel="stylesheet" href="../static/bootstrap-4.6.0-dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="../static/css/style.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- NAVBAR -->
    <section>
      <nav class="navbar navbar-light bg-dark navbar-expand-md">
        <div class="container-fluid">
          <!-- Brand -->
          <div class="navbar-brand">
            <img src="../static/img/bankLogo.png" width="30" height="30" class="d-inline align-top mr-2 mb-1" alt="" />
            <h5 class="d-inline text-light">Regional Bank</h5>
          </div>

          <!-- Toggler -->
          <button
            class="navbar-toggler teal-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#myNavbar"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar Links -->
          <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item mr-4">
                <a class="nav-link teal-toggler-link" href="{{url_for('about')}}">About</a>
              </li>
            </ul>

            <!-- ADD Hover on Links, add aria stuff, data target? Href?, Move Style to CSS, And show current-->
          </div>
        </div>
      </nav>
    </section>

    <!-- MAIN BODY-->
    <section>
      <div class="main-body-content text-center">
        <h2 class="text-dark pb-3">Regional Bank</h2>
        <img class="logo-body" src="../static/img/bankLogo.png" alt="" />
        <p class="mt-4 desc-body">
          We use machine learning to quickly assess an applicant's eligibility for an auto loan!
        </p>
      </div>
      <div class="text-center">
        <a role="button" class="btn btn-primary btn-lg mt-3" href="{{url_for('apply')}}">Apply</a>
      </div>
    </section>

    <script src="../static/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
